services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq_uwb
    ports:
      - "5672:5672"   # AMQP port (Standard RabbitMQ)
      - "15672:15672" # Management UI port (Web Dashboard)
      - "1883:1883"   # MQTT port
    environment:
      - RABBITMQ_DEFAULT_USER=position
      - RABBITMQ_DEFAULT_PASS=position
      - RABBITMQ_DEFAULT_VHOST=/
    # ENABLE PLUGINS: Enables MQTT and Management plugins before starting the server
    command: /bin/sh -c "rabbitmq-plugins --offline enable rabbitmq_mqtt rabbitmq_management && rabbitmq-server"
    networks:
      - uwb_network
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

networks:
  uwb_network:
    driver: bridge

volumes:
  rabbitmq_data: